article.website(class=website.tags)
    h3.websiteTitle #{website.title}
    p.websiteTags #{website.fullTags.join(", ")}
    p.websiteDescription #{website.description}
    a.url(href=website.url) #{website.url}
