h3.websiteTitle #{website.title[language]}
span.websiteDescription #{website.description[language]}
span.websiteTags #{website.tags[language]}
a.url(href=website.url[language]) #{website.url[language]}
